@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --themeColor: #2a2747;
  --themeGlass: #3a3661;
  --themeDarkBg: #1e1b33;
  --themeGray: #383737;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--themeColor);
  color: white;
}
/* Navbar */
.page__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.page__nav__brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page__nav__profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand > span {
  text-transform: capitalize;
}
.links > a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  margin-left: 2rem;
  border-bottom: 1px solid transparent;
  transform-origin: center center;
  transition: all 0.3s ease;
}
.links > a:hover {
  border-bottom: 1px solid white;
  transform: translateY(-2px);
  font-weight: bold;
}
.search {
  background-color: var(--themeGlass);
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.3rem;
  margin-right: 1rem;
}
.search > input[type="text"] {
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
}
.notification {
  margin-right: 1rem;
}
.profile {
  background: url("./images/Images/avatar-1.jpeg");
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Body  */
section.page__body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Sidebar */
aside.page__sidebar {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5rem;
  overflow: auto;
  padding: 0.7rem;
}
.page__sidebar__topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.sidebar__title {
  font-size: 1.3rem;
  font-weight: bold;
}

.sidebar__dropdown {
  font-size: small;
  color: cyan;
}
.queue__songs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.queue__songs__left {
  display: flex;
  align-items: center;
}
.queue__songs__left > span {
  font-size: 0.8rem;
  color: silver;
  margin-right: 0.5rem;
}
.queue__1 {
  background: url("./images/Images/queue-1.jpeg");
}
.queue__2 {
  background: url("./images/Images/queue-2.jpeg");
}
.queue__3 {
  background: url("./images/Images/queue-3.jpeg");
}
.queue__songs__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  margin-right: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(150%) drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.2));
}
.queue__songs__songs__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.queue__songs__songs__details__track {
  text-transform: capitalize;
}
.queue__songs__songs__details__artist {
  font-size: 0.8rem;
  text-transform: capitalize;
  font-weight: lighter;
  color: silver;
}
/* Page Content */
section.page__content {
  width: 70%;
  position: absolute;
  top: 0;
  bottom: 5rem;
  left: 0;
  padding: 2rem;
  overflow: auto;
}

/* Latest Release section */
div.page__latest__release {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
}
.section__title {
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
/* Latest Release Albums */
.latest__release__album {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.album__image {
  width: 6rem;
  height: 6rem;
  background: url("./images/Images/latest-release-1.jpeg");
  background-size: contain;
}
.album__title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.9rem;
}
.album__release {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 0.8rem;
  color: silver;
}
.album__duration {
  color: silver;
}
.album__duration__current {
  font-size: 0.7rem;
}
.album__details {
  min-width: 7rem;
  padding: 0 1rem;
}

/* Popular Artist */
section.popular__artists {
  padding: 3rem 0;
}
div.popular__artists {
  display: flex;
  overflow: auto;
}
div.popular__artists::-webkit-scrollbar {
  display: none;
}
.artist__details {
  margin-right: 1rem;
}
.ed__sheeran {
  background: url("./images/Images/popular-artist-1.jpeg");
}
.coldplay {
  background: url("./images/Images/popular-artist-2.jpeg");
}
.zayn {
  background: url("./images/Images/popular-artist-3.jpeg");
}
.charlie__puth {
  background: url("./images/Images/popular-artist-4.jpeg");
}
.imagine__dragons {
  background: url("./images/Images/popular-artist-5.jpeg");
}
.bruno__mars {
  background: url("./images/Images/popular-artist-6.jpeg");
}
.artist__image {
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  transform-origin: center center;
  cursor: pointer;
}
.artist__image:hover {
  border: 2px solid white;
  transform: scale(0.95);
}
.artist__name {
  text-transform: capitalize;
  text-align: center;
}

/* Categories Section */
section.music__categories {
  background-color: var(--themeDarkBg);
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}
section.music__categories::-webkit-scrollbar {
  display: none;
}
.stations__cover {
  background-color: orangered;
  min-width: 6rem;
  padding: 1rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category__1 {
  background: url("./images/Images/category-1.jpeg");
}
.category__2 {
  background: url("./images/Images/category-2.jpeg");
}
.category__3 {
  background: url("./images/Images/category-3.jpeg");
}
.category__4 {
  background: url("./images/Images/category-4.jpeg");
}
.category__5 {
  background: url("./images/Images/category-5.jpeg");
}
.category__6 {
  background: url("./images/Images/category-6.jpeg");
}
div.music__categories {
  min-width: 6rem;
  height: 6rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
div.music__categories:hover {
  transform: translateY(-5px) scale(1.1);
}
/* Playlist Section */
.playlists {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  margin: 1rem 0;
}
.playlists::-webkit-scrollbar {
  display: none;
}
.party {
  background: url("./images/Images/playlist-1.jpeg");
}
.electronic {
  background: url("./images/Images/playlist-2.jpeg");
}
.roadtrip {
  background: url("./images/Images/playlist-3.jpeg");
}
.playlists__cover {
  min-width: 15rem;
  min-height: 10rem;
  background-color: black;
  margin-right: 1rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.playlists__cover:hover {
  filter: blur(2px) brightness(110%);
  border-radius: 10px;
}
/* Latest English */
div.latest__english {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  margin-bottom: 1.5rem;
}
div.latest__english::-webkit-scrollbar {
  display: none;
}
.latest__english__song {
  margin-right: 1rem;
}
.onism {
  background: url("./images/Images/onism.jpeg");
}
.onism-2 {
  background: url("./images/Images/onism-2.jpeg");
}
.onism-3 {
  background: url("./images/Images/onism-3.jpeg");
}
.onism-4 {
  background: url("./images/Images/onism-4.jpeg");
}
.bolly-1 {
  background: url("./images/Images/bolly-1.jpeg");
}
.bolly-2 {
  background: url("./images/Images/bolly-2.jpeg");
}
.bolly-3 {
  background: url("./images/Images/bolly-3.jpeg");
}
.bolly-4 {
  background: url("./images/Images/bolly-4.jpeg");
}
.track__cover {
  min-width: 10rem;
  min-height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  transform-origin: center center;
}
.track__cover:hover {
  filter: blur(2px) brightness(110%);
  border-radius: 10px;
}
.track__details {
  text-transform: capitalize;
}
.track__details__release {
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: silver;
}
/* Latest Hindi */
div.latest__hindi {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}
div.latest__hindi::-webkit-scrollbar {
  display: none;
}
.latest__hindi__song {
  margin-right: 1rem;
}
/* Music Player */
footer.page__player {
  height: 5rem;
  background-color: var(--themeGray);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.left__section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-transform: capitalize;
}
.track__image {
  background: url("./images/Images/queue-2.jpeg");
}
.player__current__track {
  width: 3.5rem;
  height: 3.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5rem;
}
.player__current__track__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.player__current__track__details__track {
  font-size: 0.8rem;
}
.player__current__track__details__track > marquee {
  width: 4rem;
}
.player__current__track__details__artist {
  font-size: 0.7rem;
  font-weight: lighter;
  color: silver;
}
.player__like__dislike {
  margin: 0 1rem;
}
.middle__section {
  align-self: stretch;
  flex-grow: 2;
  padding: 0 3rem;
}
.middle__upper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.middle__lower {
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle__lower > input {
  width: 100%;
  margin: 0 1rem;
}
.play__button {
  font-size: x-large;
}
.right__section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right__icon {
  margin: 0.3rem;
}
